@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: transparent;
    padding: 25px 18%;
}

.logo {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 0 25px;
    font-size: 21px;
    font-weight: 400;
    border-radius: 4px;
    transition: ease 0.4s;
}

.navbar a:hover {
    font-size: 22px;
    text-shadow: 0.5px 0.5px 2px #fff;
}

#menu-icon {
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    z-index: 20;
    display: none;
}

section {
    padding: 80px 18%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/img/homebg.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.home-text h1 {
    font-size: 80px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text span {
    color: #e4410f;
}

.home-text p {
    width: 560px;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
}

.home-btn {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    background: #22a2f7;
    border-radius: 8px;
    transition: all ease 0.4s;
}

.home-btn:hover {
    background: #0889DE;
    transform: scale(1.05);
}

section.pick {
    display: block;
    padding-top: 30px;
}

.pick-text h2 {
    font-size: 50px;
}

.pick-text span {
    color: #22a2f7;
}

.row-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

#container-box {
    background: #ffffff2f;
    padding: 40px 0 30px 0;
    border-radius: 10%;
    cursor: pointer;
    transition: ease;
}

#container-box h4 {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 10px;
}

#container-box:hover {
    background-color: #ffffff44;
    transform: scale(1.007);
}

.container-img img {
    width: 43%;
}

section.pump {
    padding-top: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}

.exercise-container {
    background: #ffffff2f;
    padding: 20px 30px;
    border-radius: 10px;
}

.exercise-container span {
    font-size: 1.5rem;
    line-height: 2;
}

.video-container video {
    width: 100%;
    border-radius: 10px;
}

.back-container {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    cursor: pointer;
    color: #fff;
}

.back-container i {
    color: #22a2f7;
    font-size: 2.4rem;
    margin-right: 7px;
}

.back-container span {
    font-size: 2rem;
    transition: all ease 0.3s;
}

.back-container:hover {
    color: #22a2f7;
}

section.contact {
    padding-bottom: 60px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 40px 0 40px;
    border-top: 1px solid;
}

.dev-name {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 1.3rem;
}

.dev-name h3 {
    font-size: 1.7rem;
    border-bottom: 1px solid;
}

.email h3 {
    text-align: justify;
    font-size: 1.7rem;
    border-bottom: 1px solid;
}

.email span {
    font-size: 1.3rem;
    text-align: justify;
}

.links {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.links h3 {
    font-size: 1.7rem;
    border-bottom: 1px solid;
}

.links a {
    color: #fff;
    font-size: 1.3rem;
    padding-top: 8px;
    line-height: 1;
    transition: ease 0.3s;
}

.links a:hover {
    color: #22a2f7;
}

.links i {
    padding-right: 8px;
}

@media (max-width: 1400px) {
    header {
        padding: 17px 3%;
        transition: 0.2s;
    }

    section {
        padding: 80px 3%;
        transition: 0.2s;
    }

    .home-text h1 {
        font-size: 60px;
        transition: 0.2s;
    }

    .pick-text h2 {
        font-size: 40px;
        transition: 0.2s;
    }
}

@media (max-width: 1040px) {
    .home {
        height: 88vh;
    }

    .home-text p {
        width: 450px;
        transition: 0.2s;
    }

    .navbar a {
        padding: 0 15px;
    }
}

@media (max-width: 575px) {
    header {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        background: #000;
    }

    #menu-icon {
        position: absolute;
        display: flex;
        top: 0.75rem;
        right: 1rem;
    }

    .navbar {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    .navbar li {
        padding: 20px 0;
    }

    .navbar a:hover {
        font-size: 21px;
    }

    .logo {
        font-size: 28px;
    }

    .home {
        height: 90vh;
        transition: 0.2s;
    }

    .home-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-text h1 {
        padding: 30px 0;
        font-size: 40px;
        text-align: start;
    }

    .home-text p {
        width: 270px;
        padding-bottom: 30px;
    }

    .home-btn {
        font-size: 20px;
    }

    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }

    .footer {
        flex-direction: column;
    }

    .footer div {
        padding: 20px 0;
    }

    .navbar.active {
        display: flex;
    }

    .pick-text h2 {
        font-size: 30px;
    }

    .row-items {
        grid-template-columns: 1fr 1fr;
    }
}